body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Karla';
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    /* font-weight: 400; */
    color: #ff5722;
}

span {
    font-weight: 400;
    color: #ff5722;
    font-style: italic;
}

h1 {
    font-family: Georgia;
    font-size: 90px;
    font-style: italic;
    color: #EC572A;
}

h2 {
    font-family: Georgia;
    font-size: 25px;
    /* padding-bottompx; */
}

p {
    font-family: 'Karla';
    font-weight: 200;
    font-size: 17px;
    line-height: 27px;
    /* margin-bottom: 15px; */
}

ul {
    list-style: none;
}

.caption {
    font-size: 12px;
    color: grey;
}

.sidebar {
    position: fixed;
    /* display: inline-block; */
    float: left;
    /* position: relative; */
    font-size: large;
    width: 15%;
    line-height: 300%;
    text-align: right;
}

.upper {
    margin-top: 60px;
}

.lower {
    margin-top: 205px;
}

.midPic {
    display: inline-block;
    position: relative;
    margin-top: 80px;
    margin-left: 25%;
    width: 400px;
    height: 595px;
    max-width: 100%;
    background-color: #eceff1;
}

.headline {
    position: absolute;
    display: inline-block;
    margin-top: 85px;
    /* margin-left: 700px; */
}

.right {
    position: absolute;
    display: inline-block;
    /* float: left; */
    margin-left: 4%;
    margin-right: 100px;
    text-align: left;
    margin-top: 60px;
    width: 400px;
}

.bottomText {
    position: absolute;
    width: 400px;
    margin-top: 107%;
    /* margin-top: 350px; */
}

.topimg {
    display: inline-block;
    position: fixed;
    width: 400px;
    /* height: 250px; */
    /* background-color: #eceff1; */
    margin-top: 75px;
    margin-left: 25%;
    margin-bottom: 100px;
}

.topimg img {
    width: 400px;
    /* height: 70%; */
}

.text {
    position: absolute;
    width: 60%;
    margin-top: 200px;
    margin-left: 30%;
}

.story {
    position: absolute;
    display: inline-block;
    width: 485px;
    margin-top: 50px;
    margin-left: 57%;
}

.mouthfeel {
    font-style: italic;
    font-size: 60px;
    letter-spacing: 3px;
}

.dic {
    margin-top: 160px;
}

.noun {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: black;
}

.topimg .caption {
    margin-top: 10px;
}

.faq {
    position: absolute;
    width: 60%;
    margin-top: 50px;
    margin-left: 30%;
}

.labtext {
    position: absolute;
    width: 65%;
    margin-top: 50px;
    margin-left: 25%;
}

.labtext img {
    margin-top: 30px;
    width: 900px;
    height: 400px;
    background-color: lightcyan;
}